@import "tailwindcss";

/* Tailwind v4: bikin dark mode berbasis class (.dark) */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}